body {
  background: #000b49;
}
form {
  box-shadow: 1px 1px 8px rgb(54, 54, 54);
  border-radius: 20px;
  margin-top: 17px;
  max-width: 200px;
  transition: all ease-in-out 200ms;
}
form:hover {
  box-shadow: 1px 2px 6px rgb(54, 54, 54);
}

button {
  background-color: #ffb5b5;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgb(54, 54, 54);
  transition: all ease-in-out 200ms;
  padding: 12px 37px;
}
button:hover {
  background: #90e0ff;
  box-shadow: 1px 1px 6px rgb(54, 54, 54);
}
a {
  font-weight: bold;
}

.city {
  color: #fff;
  box-shadow: 1px 1px 10px #000;
  padding: 15px;
  text-align: center;
  font-size: 65px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  margin-top: 50px;
  transition: all ease-in-out 200ms;
}
.city:hover {
  box-shadow: 1px 1px 8px #000;
}
.day-and-time {
  margin-top: 50px;
  margin-bottom: 20px;
}
.day-and-time,
.weather {
  color: #ffb5b5;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.current-temp {
  color: #90e0ff;

  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 100px;
}

.fahren,
.cels {
  font-size: 20px;
  margin-bottom: 60px;
  position: relative;
  top: -20px;
}
a .active {
  color: #27296d;
}

.humidity,
.wind {
  color: #ffb5b5;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: right;
}
.humidity-icon,
.wind-icon {
  color: #90e0ff;
}
.humidity {
  margin-bottom: 10px;
}

.wind {
  margin-bottom: 50px;
}

.border {
  box-shadow: 1px 1px 9px #000;
  background-color: transparent;
  border-radius: 20px;
  padding: 20px;
  padding-left: 65px;

  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 720px;
  transition: all ease-in-out 200ms;
}
.border:hover {
  border: none;
  box-shadow: 1px 2px 8px;
}

.WeatherForecast {
  text-align: center;
}
.future-days,
.future-temps {
  color: #fff;
  font-size: 30px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
.future-days {
  margin-left: 30px;
}
.future-icon {
  color: #5e63b6;
  margin-left: 40px;
  font-size: 30px;
}

.future-temps {
  font-size: 20px;
  font-style: italic;
  margin-left: 20px;
}
.max-temp {
  font-weight: bolder;
}
.min-temp {
  opacity: 80%;
}
.credit {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  margin-top: 150px;
}
